<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Shop by card type</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_3C_eGC._CB617227328_.jpg" target="_blank">
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_3C_eGC._CB617227328_.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_3C_PAH.jpg" target="_blank">
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_3C_PAH.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_3C_pGC.jpg" target="_blank">
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_3C_pGC.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_2C_BGC_US.jpg" target="_blank">
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_2C_BGC_US.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_2C_ASV.jpg" target="_blank">
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/GiftCards/Consumer/GCLP/1074_GCLP_2C_ASV.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
</body>
</html>


