<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>RESULTS</h2>
  <p>Price and other details may vary based on product size and color.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://m.media-amazon.com/images/I/71N+qp7LYNL._AC_UL320_.jpg" target="_blank">
          <img src="https://m.media-amazon.com/images/I/71N+qp7LYNL._AC_UL320_.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://m.media-amazon.com/images/I/81kVMj4rJpL._AC_UL320_.jpg" target="_blank">
          <img src="https://m.media-amazon.com/images/I/81kVMj4rJpL._AC_UL320_.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://m.media-amazon.com/images/I/811VpLMhwCL._AC_UL320_.jpg" target="_blank">
          <img src="https://m.media-amazon.com/images/I/811VpLMhwCL._AC_UL320_.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>RESULTS</h2>
  <p>Price and other details may vary based on product size and color.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://m.media-amazon.com/images/I/81mzApc3+BL._AC_UL320_.jpg" target="_blank">
          <img src="https://m.media-amazon.com/images/I/81mzApc3+BL._AC_UL320_.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://m.media-amazon.com/images/I/7112THo1tzL._AC_UL320_.jpg" target="_blank">
          <img src="https://m.media-amazon.com/images/I/7112THo1tzL._AC_UL320_.jpg" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://m.media-amazon.com/images/I/81S12DE+VsL._AC_UL320_.jpg" target="_blank">
          <img src="https://m.media-amazon.com/images/I/81S12DE+VsL._AC_UL320_.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>SASMAR Original Silicone Personal Lubricant + Massage Gel for Couples, Him, Her, Men,</p>
            <p>Unscented · 2.3 Fl Oz (Pack of 1)</p>
            <p>Health & Personal Care</p>
            <p>$119.20 ($119.20/Count)</p>
            <p>$42.69 delivery</p>
            <p>Ships to Sri Lanka</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>


