<!DOCTYPE html>
<html>
<head>
  <title> Our Team Section design </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<div class ="top"><span>Today Deals</span></div>
<div class="wrap">

  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/51kFlIMP5AL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>Up to 54% off</h1>
      <p>GThunder night vision goggles</p>
    </div>
  </div>

  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/41euCX0-VaL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>Up to 29% off</h1>
      <p>BlissLights Lighting Products</p>
    </div>
  </div>

  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/41j6MzmIleL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>Up to 50% off</h1>
      <p> Jasonwell Cool Toys</p>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/31SJ6Nl-KGL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>$16.95 and under</h1>
      <p>SKIN1004 Skincare</p>
    </div>
  </div>

  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/31uU9pFKbRL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>16% off Deal</h1>
      <p>  Insulated Corrugated</p>
    </div>
  </div>

  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/41vSviaIHTL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>Deal</h1>
      <p> Amazon Essentials</p>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/51kb-HPZPOL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>$16.95 and under</h1>
      <p>SKIN1004 Skincare</p>
    </div>
  </div>

  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/31wybZaa6PL._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>16% off Deal</h1>
      <p>  Insulated Corrugated</p>
    </div>
  </div>

  <div class="box">

    <img src ="https://m.media-amazon.com/images/I/61hH4Q9dN3L._AC_UF226,226_FMjpg_.jpg">
    <div class="social">
      <a href="#"><i class ="fa fa-facebook"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
      <a href="#"><i class ="fa fa-youtube"></i></a>
      <a href="#"><i class ="fa fa-linkedin"></i></a>
      <a href="#"><i class ="fa fa-instagram"></i></a>
    </div>
    <div class="text">
      <h1>Deal</h1>
      <p> Amazon Essentials</p>
    </div>
  </div>
</div>
</body>
</html>
