<div class="middle-text-outer">
  <h1 class="book-today-text">Order Today</h1>
  <h2 class="weekend-offer-text">HOT WEEKEND OFFER</h2>
</div>
<div class="about-wrapper">
  <div class="about-inner">
    <div class="about-inner-inner">
      <h4 class="about-inner-inner-inner">Health & Personal Care</h4>
    </div>
    <div class="about-inner-inner">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2022/February/DashboardCards/GW_CONS_AUS_HPC_HPCEssentials_CatCard_Desktop1x._SY304_CB627424361_.jpg" alt="">
    </div>
    <div class="about-inner-inner">
      <a routerLink="/image1">Shop Now</a>
    </div>
  </div>
  <div class="about-inner">
    <div class="about-inner-inner">
      <h4 class="about-inner-inner-inner">Electronics</h4>
    </div>
    <div class="about-inner-inner">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Electronics_1x._SY304_CB432774322_.jpg" alt="">
    </div>
    <div class="about-inner-inner">
      <a routerLink="/image2">Shop Now</a>
    </div>
  </div>
  <div class="about-inner">
    <div class="about-inner-inner">
      <h4 class="about-inner-inner-inner">Beauty picks</h4>
    </div>
    <div class="about-inner-inner">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Beauty_1x._SY304_CB432774351_.jpg" alt="">
    </div>
    <div class="about-inner-inner">
      <a routerLink="/image3">Shop Now</a>
    </div>
  </div>
</div>
<div class="about-wrapper">
  <div class="about-inner">
    <div class="about-inner-inner">
      <h4 class="about-inner-inner-inner">New arrivals in Toys</h4>
    </div>
    <div class="about-inner-inner">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/September/DashboardCards/Fuji_Dash_Toys_1X._SY304_CB639759658_.jpg" alt="">
    </div>
    <div class="about-inner-inner">
      <a routerLink="/image4">Shop Now</a>
    </div>
  </div>
  <div class="about-inner">
    <div class="about-inner-inner">
      <h4 class="about-inner-inner-inner">For your Fitness Needs</h4>
    </div>
    <div class="about-inner-inner">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/September/DashboardCards/Fuji_Dash_Fitness_1X._SY304_CB639748186_.jpg" alt="">
    </div>
    <div class="about-inner-inner">
      <a routerLink="/image5">Shop Now</a>
    </div>
  </div>
  <div class="about-inner">
    <div class="about-inner-inner">
      <h4 class="about-inner-inner-inner">Kindle E readers</h4>
    </div>
    <div class="about-inner-inner">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/September/DashboardCards/Fuji_Desktop_Dash_Kindle_1x._SY304_CB639752818_.jpg" alt="">
    </div>
    <div class="about-inner-inner">
      <a routerLink="/image6">Shop Now</a>
    </div>
  </div>
</div>
<div class="about-wrapper-1">
  <div class="about-inner-1">
    <h4 class="about-inner-2">New arrivals in Books</h4>
  </div>
  <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
  <div class="about-inner-3">
  </div>
</div>
<div class="about-wrapper-5">
  <div class="about-wrapper-6">
    <ul class="nav-1">
      <li><span>Get to Know Us</span><div class="line-1"></div></li>
      <li><span><a href="">Careers</a></span><div class="line"></div></li>
      <li><span><a href="">Blog</a></span><div class="line"></div></li>
      <li><span><a href="">About</a></span><div class="line"></div></li>
      <li><span><a href="">Investor Relations</a></span><div class="line"></div></li>
      <li><span><a href="">Devices</a></span></li>
      <li><span><a href="">Science</a></span></li>
    </ul>
  </div>
  <div class="about-wrapper-6">
    <ul class="nav-1">
      <li><span>Make Money with Us</span><div class="line-1"></div></li>
      <li><span><a href="">Sell products</a></span><div class="line"></div></li>
      <li><span><a href="">Sell on  Business</a></span><div class="line"></div></li>
      <li><span><a href="">Become an affiliate</a></span><div class="line"></div></li>
      <li><span><a href="">Advertise Your Products</a></span><div class="line"></div></li>
      <li><span><a href="">Self-publish with Us</a></span></li>
      <li><span><a href="">See More Make Money with Us</a></span></li>
    </ul>
  </div>
  <div class="about-wrapper-6">
    <ul class="nav-1">
      <li><span>Amazon Payment Products</span><div class="line-1"></div></li>
      <li><span><a href="">Sell products</a></span><div class="line"></div></li>
      <li><span><a href="">Sell on  Business</a></span><div class="line"></div></li>
      <li><span><a href="">Become an affiliate</a></span><div class="line"></div></li>
      <li><span><a href="">Advertise Your Products</a></span><div class="line"></div></li>
      <li><span><a href="">Self-publish with Us</a></span></li>
      <li><span><a href="">See More Make Money with Us</a></span></li>
    </ul>
  </div>
  <div class="about-wrapper-6">
    <ul class="nav-1">
      <li><span>Let Us Help You</span><div class="line-1"></div></li>
      <li><span><a href="">Amazon and COVID-19</a></span><div class="line"></div></li>
      <li><span><a href="">Your Account</a></span><div class="line"></div></li>
      <li><span><a href="">Your Orders</a></span><div class="line"></div></li>
      <li><span><a href="">Shipping Rates & Policies</a></span><div class="line"></div></li>
      <li><span><a href="">Returns & Replacements</a></span></li>
      <li><span><a href="">Manage Your Content and Devices</a></span></li>
    </ul>
  </div>
</div>
